<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- MyBatisの設定 -->
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
    </settings>

    <!-- 別名の設定 -->
    <typeAliases>
        <package name="com.example.demo.model"/>
        <package name="com.example.demo.dto"/>
    </typeAliases>

    <!-- マッパーの設定 -->
    <mappers>
        <package name="com.example.demo.mapper"/>
    </mappers>
</configuration>
